a:hover, a:active, a:focus {
    color:#ee6c4d;
  }
body {
    background-color: #98c1d9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbarlink {
    color: #e0fbfc;
}
#contactformdiv {
    color: #293241;
    background-color: #e0fbfc;
    border: solid 3px #ee6c4d;
}
nav {
    background-color: #3d5a80;
    border: solid 1px #293241;
}
#footer {
    background-color: #3d5a80;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    clear: both;
    padding-top: 3px;
    border: solid 1px #293241;
}
#titlebgphoto {
    border: solid 2px #ee6c4d;
}
#contactform  { 
    display: table;
}
#p {
    display: table-row;
}
label { 
    display: table-cell;
}
input { 
    display: table-cell; 
}
#aboutus {
    background-color: #e0fbfc;
    color:#293241;
    border: solid 2px #ee6c4d;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#submitbutton {
    background-color: #3d5a80; 
    color: #e0fbfc;
}
#prodrows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 2%;
    margin-right: 2%;
}
#prodcols {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
#prodcols img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}